.root {
    padding: 45px 0 49px;
    background-color: #000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.title{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
}

.description{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 16px;
    margin-bottom: 66px;
}


@media (min-width: 992px) {
    .title{
        font-size: 48px;
        letter-spacing: -0.01em;
    }

    .description{
        margin-bottom: 50px;
    }

    .root{
        padding: 64px 0 102px;
    }
}