.root{
    padding: 29px 0 32px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -0.02em;
    color: #fff;
}

.description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 16px;
}
@media (min-width: 992px) {

    .root{
        padding: 101px 0 41px;
    }

    .title {
        display: none;
    }

    .description {
        font-size: 20px;
        text-align: center;
        padding: 0 65px;
    }
}