.root {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    padding: 13px 18px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ff5f2d;
    transition: all .3s linear;
}

.root:hover {
    color: #ff5f2d;
    background-color: #fff;
}

.disabled{
    background-color: #b6421d;
}