.root {
    padding-top: 123px;
    padding-bottom: 50px;
    position: relative;
    background-color: #000;
}

.bg {
    background-color: rgba(16, 153, 238, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    object-position: top 0 right 70%;
}

.container {
    position: relative;
    z-index: 3;
}

.title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: #fff;
    margin-top: 23px;
}


.subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.01em;
    color: #fff;
}

.description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 32px;
}

.contactUsBtn {
    width: 100%;
    margin-top: 56px;
}

@media (min-width: 992px) {
    .root {
        min-height: 85dvh;
        margin-top: -80px;
        padding-top: 180px;
    }

    .bg {
        background-color: rgba(16, 153, 238, 0.5);
    }

    .img{
        object-fit: cover;
        object-position: right center;
    }
    .title {
        font-size: 56px;
        line-height: 143%;
        letter-spacing: -0.03em;
        margin-top: 16px;
    }

    .description {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        margin-top: 24px;
        max-width: 875px;
    }

    .contactUsBtn {
        display: none;

    }
}