.textBtn {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 992px) {
    .textBtn {
        font-size: 16px;
        line-height: 225%;
        letter-spacing: -0.02em;
        color: #8d8d8d;
    }

}